* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  outline: none;
}

body {
  font-family: "Arial", sans-serif;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
	align-items: center;
	a {
		text-decoration: none;
		span {
	    font-family: 'Radikal';
	    color: white;
	    font-size: 27px;
	    font-weight: 500;
	  }
	}
}

h1 {
  font-size: 23px;
  font-weight: bold;
  color: white;
  margin: 35px auto 0;
  text-align: center;
  line-height: 26px;
}

h2 {
	color: white;
	font-size: 20px;
	line-height: 24px;
	font-weight: bold;
}

input {
	font-family: "Arial", sans-serif;
	border: 0;
  border-radius: 3px;
}

.invisible {
	display: none;
}

.visible {
	display: block;
}

.wrapper {
	width: 573px;
	margin: 0 auto;
}
