@font-face {
	font-family: 'Radikal';
	src: url('/fonts/Radikal-Medium.eot');
	src: url('/fonts/Radikal-Medium.eot?#iefix') format('embedded-opentype'),
		url('/fonts/Radikal-Medium.woff') format('woff'),
		url('/fonts/Radikal-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  outline: none;
}

body {
  font-family: "Arial", sans-serif;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
	align-items: center;
	a {
		text-decoration: none;
		span {
	    font-family: 'Radikal';
	    color: white;
	    font-size: 27px;
	    font-weight: 500;
	  }
	}
}

h1 {
  font-size: 23px;
  font-weight: bold;
  color: white;
  margin: 35px auto 0;
  text-align: center;
  line-height: 26px;
}

h2 {
	color: white;
	font-size: 20px;
	line-height: 24px;
	font-weight: bold;
}

input {
	font-family: "Arial", sans-serif;
	border: 0;
  border-radius: 3px;
}

input[type=text] {
	padding: 8px 15px;
	font-size: 16px;
	font-weight: bold;
}

input[type=text]::placeholder {
	opacity: 0.5;
	font-weight: bold;
	color: black;
}

input[type=submit] {
	background: #FF0079;
	color: white;
	font-weight: bold;
	padding: 9px 15px;
	font-size: 16px;
	line-height: 16px;
	transition: opacity .3s;
	cursor: pointer;
	&:hover {
		opacity: 0.7;
	}
}

.logo {
  display: flex;
  align-items: center;
  img {
    margin-right: 10px;
  }
}

.invisible {
	display: none;
}

.visible {
	display: block;
}

.wrapper {
	width: 585px;
	margin: 0 auto;
}
