@font-face {
	font-family: 'Radikal';
	src: url('/fonts/Radikal-Medium.eot');
	src: url('/fonts/Radikal-Medium.eot?#iefix') format('embedded-opentype'),
		url('/fonts/Radikal-Medium.woff') format('woff'),
		url('/fonts/Radikal-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  outline: none;
}

body {
  font-family: "Arial", sans-serif;
}

#landing-header {
  background: #000000 url("assets/images/header-background.png") no-repeat;
  background-size: cover;
  padding: 20px;
	input[type=search] {
	  width: 100%;
	  display: block;
	  margin: 90px auto 0;
	  padding: 11px 0 11px 40px;
	  font-size: 18px;
	  letter-spacing: -0.2px;
	  background: white url("assets/images/search-icon.svg") no-repeat;
	  background-position: 15px 15px;
		box-shadow: 0 2px 14px 0 rgba(0,0,0,0.63), 0 0 4px 0 rgba(0,0,0,0.14);
	}
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
	align-items: center;
	a {
		text-decoration: none;
		span {
	    font-family: 'Radikal';
	    color: white;
	    font-size: 27px;
	    font-weight: 500;
	  }
	}
}

h1 {
  width: 345px;
  font-size: 23px;
  font-weight: bold;
  color: white;
  margin: 35px auto 0;
  text-align: center;
  line-height: 26px;
}

h2 {
	color: white;
	font-size: 20px;
	line-height: 24px;
	font-weight: bold;
}

h3 {
	font-size: 13px;
	color: #8E8E93;
	font-weight: bold;
	line-height: 15px;
}

input {
	font-family: "Arial", sans-serif;
	border: 0;
  border-radius: 3px;
}

input[type=text] {
	padding: 7px 15px;
	font-size: 16px;
}

input[type=text]::placeholder {
	opacity: 0.5;
	font-weight: bold;
	color: black;
}

input[type=submit] {
	background: #FF0079;
	color: white;
	font-weight: bold;
	padding: 9px 15px;
	font-size: 16px;
	line-height: 16px;
	transition: opacity .3s;
	cursor: pointer;
	&:hover {
		opacity: 0.7;
	}
}

.logo {
  display: flex;
  align-items: center;
  img {
    margin-right: 10px;
  }
}

.invisible {
	display: none;
}

.wrapper {
	width: 800px;
	margin: 0 auto;
}

#banner-app {
	background: #616161;
	padding: 20px;
	height: 195px;
	overflow: hidden;
	position: relative;
	button {
		position: absolute;
		right: 10px;
		top: 13px;
		border: none;
		background: transparent;
		cursor: pointer;
	}
	.wrapper {
		display: flex;
		img {
			width: 194px;
			height: 331px;
			position: relative;
			bottom: -5px;
		}
		.right {
			margin: 20px 0 0 25px;
			p {
				font-size: 13px;
				opacity: 0.6;
				color: white;
				font-weight: bold;
				margin: 20px 0 5px;
			}
		}
	}
}

#category-list {
	padding-bottom: 50px;
	.wrapper {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-top: 20px;
		a {
			width: 115px;
			margin-bottom: 30px;
			text-decoration: none;
			img {
				border-radius: 6px;
				margin-bottom: 5px;
				box-shadow: 0 2px 8px 0 rgba(0,0,0,0.15);
				&:hover {
					animation: pulse 1s linear;
					@keyframes pulse {
					  from {
					    transform: scale3d(1, 1, 1);
					  }

					  50% {
					    transform: scale3d(1.03, 1.03, 1.03);
					  }

					  to {
					    transform: scale3d(1, 1, 1);
					  }
					}
				}
			}
		}
	}
}

#landing-footer {
	background: #D8D8D8;
	padding: 15px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: fixed;
	bottom: 0;
	width: 100%;
	p {
		color: #8E8E93;
		font-size: 13px;
		padding-right: 20px;
		a {
			text-decoration: none;
			font-weight: bold;
			color: #8E8E93;
			&:hover {
				border-bottom: 1px solid #FF0079;
			}
		}
	}
	nav {
		display: flex;
		align-items: center;
		padding-left: 20px;
		a {
			text-decoration: none;
			color: #8E8E93;
			font-size: 13px;
			font-weight: bold;
			margin-right: 10px;
			&:hover {
				border-bottom: 1px solid #FF0079;
			}
		}
		.social {
			margin-left: 10px;
		}
	}
}

#category-header {
	header {
		padding: 20px 20px 15px;
		span {
			color: black;
		}
		input[type=search] {
			width: 800px;
			height: 100%;
			padding: 11px 0 11px 40px;
		  font-size: 18px;
		  letter-spacing: -0.2px;
		  background: #F4F4F4 url("assets/images/search-icon.svg") no-repeat;
		  background-position: 15px 15px;
		}
	}
}

#category-foods {
	.wrapper {
		h1 {
			font-size: 32px;
			color: black;
			letter-spacing: -0.34px;
			margin: 0;
			text-align: left;
			span {
				opacity: 0.3;
				margin-left: 5px;
			}
		}
		.filters {
			margin-top: 15px;
			button {
				border: 0;
				opacity: 0.3;
				background: transparent;
				font-size: 16px;
				padding: 10px;
				cursor: pointer;
				&:active {
					opacity: 1;
					border-bottom: 2px solid #FF0079;
				}
				&.authorised {
					padding-left: 35px;
					background: url("assets/images/grey-authorised.svg") no-repeat 10px 10px;
					&:active {
						background: url("assets/images/authorised.svg") no-repeat 10px 10px;
					}
				}
				&.careful {
					padding-left: 35px;
					background: url("assets/images/grey-careful.svg") no-repeat 10px 10px;
					&:active {
						background: url("assets/images/careful.svg") no-repeat 10px 10px;
					}
				}
				&.forbidden {
					padding-left: 35px;
					background: url("assets/images/grey-forbidden.svg") no-repeat 10px 10px;
					&:active {
						background: url("assets/images/forbidden.svg") no-repeat 10px 10px;
					}
				}
			}
		}
	}
}

#category-page {
	#banner-app {
		position: fixed;
		bottom: 49px;
		width: 100%;
		padding: 20px 0;
	}
}
