@font-face {
	font-family: 'Radikal';
	src: url('/fonts/Radikal-Medium.eot');
	src: url('/fonts/Radikal-Medium.eot?#iefix') format('embedded-opentype'),
		url('/fonts/Radikal-Medium.woff') format('woff'),
		url('/fonts/Radikal-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  outline: none;
}

body {
  font-family: "Arial", sans-serif;
}

#landing-header {
  background: #000000 url("assets/images/header-background.png") no-repeat;
  background-size: cover;
  padding: 20px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  span {
    font-family: 'Radikal';
    color: white;
    font-size: 27px;
    font-weight: 500;
  }
}

h1 {
  width: 345px;
  font-size: 23px;
  font-weight: bold;
  color: white;
  margin: 35px auto 0;
  text-align: center;
  line-height: 26px;
}

h2 {
	color: white;
	font-size: 20px;
	line-height: 24px;
	font-weight: bold;
}

h3 {
	font-size: 13px;
	color: #8E8E93;
	font-weight: bold;
}

p {
	font-size: 13px;
	opacity: 0.6;
	color: white;
	font-weight: bold;
}

input {
	font-family: "Arial", sans-serif;
	border: 0;
  border-radius: 3px;
}

input[type=search] {
  width: 100%;
  display: block;
  margin: 90px auto 0;
  padding: 10px 0 11px 40px;
  font-size: 18px;
  letter-spacing: -0.2px;
  background: white url("assets/images/search-icon.svg") no-repeat;
  background-position: 15px 15px;
	box-shadow: 0 2px 14px 0 rgba(0,0,0,0.63), 0 0 4px 0 rgba(0,0,0,0.14);
}

input[type=text] {
	padding: 7px 15px;
	font-size: 16px;
}

input[type=text]::placeholder {
	opacity: 0.5;
	font-weight: bold;
	color: black;
}

input[type=submit] {
	background: #FF0079;
	color: white;
	font-weight: bold;
	padding: 7px 15px;
	font-size: 16px;
	transition: opacity .3s;
	cursor: pointer;
	&:hover {
		opacity: 0.7;
	}
}

.logo {
  display: flex;
  align-items: center;
  img {
    margin-right: 10px;
  }
}

.wrapper {
	width: 800px;
	margin: 0 auto;
}

#banner-app {
	background: #616161;
	padding: 20px;
	height: 195px;
	overflow: hidden;
	img.cross {
		float: right;
		cursor: pointer;
	}
	.wrapper {
		display: flex;
		img {
			width: 194px;
			height: 331px;
			position: relative;
			bottom: -5px;
		}
		.right {
			margin: 20px 0 0 25px;
			p {
				margin: 20px 0 5px;
			}
		}
	}
}

#category-list {
	.wrapper {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-top: 20px;
		.item {
			width: 115px;
			margin-bottom: 30px;
			img {
				border-radius: 6px;
				margin-bottom: 5px;
				box-shadow: 0 2px 8px 0 rgba(0,0,0,0.15);
				cursor: pointer;
				&:hover {
					animation: pulse 1s linear;
					@keyframes pulse {
					  from {
					    transform: scale3d(1, 1, 1);
					  }

					  50% {
					    transform: scale3d(1.03, 1.03, 1.03);
					  }

					  to {
					    transform: scale3d(1, 1, 1);
					  }
					}
				}
			}
		}
	}
}
